<div class="row">
    <div class="large-12">
        <div data-ng-controller="displayCustomerCtrl as list">
            <input type="text" data-ng-model="letter" placeholder="Enter a letter to filter">

            <div data-ng-controller="displayCustomerCtrl as list">
                <div class="callout primary" data-ng-repeat="customer in list.customers">
                    <div class="callout-title-success"><h2 data-ng-model="selectedCustomer"
                                                          data-ng-click="list.setSelectedCustomer(customer)"><a
                            data-ui-sref="viewcustomer({id: customer.id})">{{ customer.firstName }} {{ customer.lastName
                        }}</a></h2>
                        <a class="button right">View Customer Details</a>
                    </div>

                    <div class="callout-content">
                        <h3>Total Orders: {{ customer.orders.length}} </h3>
                        <div class="row">
                            <div class="large-3 columns">
                                <div class="media-object" data-ng-repeat="order in customer.orders">
                                    <div class="media-object-section">
                                        <div class="thumbnail">
                                            <img src="assets/img/media-object/avatar-1.jpg">
                                        </div>
                                    </div>
                                    <div class="media-object-section main-section">
                                        <h4>Item: {{order.item }}</h4>
                                        <p>Quantity: {{order.quantity}}</p>
                                        <p>Price: {{order.price}}</p>
                                        <p>Description: {{order.description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="button primary" data-ui-sref="addcustomerorder({id: customer.id})" data-ng-click="createCustomerOrder(customer)">Add order</a>
                        <a class="button primary" data-ui-sref="editcustomer({id: customer.id})">Edit Customer Details</a>
                        <a class="button primary" data-ng-click="list.deleteCustomer(customer)">Delete Customer</a>
                    </div>
                    Selected Customer: {{ selectedCustomer.id }}
                </div>

                <div data-ui-view></div>
            </div>
        </div>
    </div>
</div>
