body{
  margin-bottom: 50px;
  /*background-color: blue ;*/
}

ul {
  list-style-type: none;
}

.top-bar {
  background: lightskyblue;
  .menu-text {

    background: lightskyblue;
    color: black;
  }
}

.space{
  margin-top: 2em;
}

.callout {
  padding: 0;
}

.custom_callout {
  padding: 25px;
}

.custom_callout_error {
  padding: 18px 0 0 1px;
}

.callout-title-primary {
  height: 100px;
  background: darken(deepskyblue, 7%);
  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 3px;
  margin-bottom: 4em;
}

.callout-title-success {
  height: 75px;
  background: deepskyblue;
  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 3px;
}
.callout-title-auth {
  height: 30px;
  background: darken(deepskyblue, 7%);
  color: white;
  font-weight: 500;
  padding-left: 10px;
  padding-top: 3px;
}

.callout-content {
  padding: 1rem;
}

.callout-content-details {
  padding: 0 0 1rem 0;

}

.item{
  display: inline-block;
  width: 25%;
}

.thumbnail{
  height: 50px;
  width: 50px;
}
