
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <form name="myForm">
        <label>
            First Name:
            <input type="text" name="userName" data-ng-model="username"  required />
        </label>

        <label>
            Last Name:
            <input type="text" name="userName" data-ng-model="username" required />
        </label>
        <label>
            Email Adress:
            <input type="text" name="userName" data-ng-model="username"  data-ng-maxlength="20" required />
        </label>
        <label>
            Phone Number:
            <input type="text" name="userName" data-ng-model="username"  data-ng-maxlength="20" required />
        </label>
        <input name="Save" type="button" value="Login">
    </form>

</div>
</body>
</html>